# build output
client/dist/

# generated types
client/.astro/

# dependencies
client/node_modules/

# logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
client/.DS_Store

# jetbrains setting folder
client/.idea/
