---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<div class="bg">
		<form method="post" class="initial_forms">
			<h1 class="initial_titles">Crea una cuenta</h1>
			<input class="initial_inputs" name="email" type="text" placeholder="Correo Universitario (@unet.edu.ve)">
			<input class="initial_inputs" name="nick" type="text" placeholder="Nombre de usuario">
			<input class="initial_inputs" name="password" type="password" placeholder="Contraseña">
			<button class="initial_buttons" type="submit">Crear Cuenta</button>
			<!-- <a class="link_create" href="/login">Ya tienes una cuenta, inicia sesion</a> -->
			<a class="link_create" href="/home">HOME</a>
		</form>
	</div>
</Layout>

<script>
const form = document.querySelector('form');

if (form) { 
    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form)
        const data = new URLSearchParams();
        for (const pair of formData) {
            data.append(pair[0], pair[1].toString());
        }

        try {
            const response = await fetch(new URL('http://localhost:8081/create-user'), {
                method: 'POST',
                // mode: 'no-cors',
                body: data,
            });

            if (response.ok) {
                form.reset();
                window.location.href = '/login';
            } else {
                // const error = await response.json();
                // throw new Error(error.message || 'Error al enviar el formulario');
                throw new Error('Error al enviar el formulario');
            }
        } catch {
        }
    });
}
</script>
