---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

try {
    const cookieAstro = Astro.cookies.get('session-token')
    const myHeaders = new Headers();
    if (cookieAstro) {
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Cookie", 'session-token=' + cookieAstro.value)
    }

    const user = await fetch(new URL('http://localhost:8081/get-user'), {
        method: 'GET',
        credentials: 'include',
        headers: myHeaders,
    });

    const content = await user.json();
    console.log(content)
} finally {
    const a = 0;
}
---

<Layout> 

    <div class="bg">

        <div class="home_container">

            <div class="home_menu">
                <div class="bg-amber-500 justify-center items-center">
                    <input class="opacity-0"  placeholder="" type="file" title=""></input>
                </div>
                

            </div>

            <div class="home_content">b

            </div>


            <div class="menu_profile">

                <div class="flex flex-row">

                    <div>aaaaaa</div>
                    <div>Nombre del usuario</div><br><br>

                </div>
                <div class="flex flex-row">

                    <div>#seguidores</div>
                    <div>#seguidos</div><br><br>


                </div>
                <h1>CREADO EN TAL FECHA</h1><br>
                <button class="initial_buttons" name="Log Out" type="submit"> Cerrar Sesion </button>



                


            </div>

        </div>
		

	</div>


</Layout>
