---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

const cookieAstro = Astro.cookies.get('session-token')
const myHeaders = new Headers();
if (cookieAstro) {
    myHeaders.append("Content-Type", "application/json");
    myHeaders.append("Cookie", 'session-token=' + cookieAstro.value)
}

const response = await fetch(new URL('http://localhost:8081/get-user'), {
    method: 'GET',
    credentials: 'include',
    headers: myHeaders,
});

const user = await response.json();
---

<Layout> 
    <div class="bg">
        <div class="home_container">
            <div class="home_menu">
                <div class="bg-amber-500 justify-center items-center">
                    <input class="opacity-0"  placeholder="" type="file" title=""></input>
                </div>
            </div>

            <div class="w-[90%] ml-5 mr-5">
                <input class="home_search" type="text"></input>

                <div class="home_content">
                </div>
            </div>


            <div class="menu_profile">
                <div class="flex flex-row">
                    <div>
                        <a class="profile_link" href="/profile-student">{user.Nick}</a>
                    </div><br><br>
                </div>
                <div class="flex flex-row">
                    <div id="followers">#seguidores</div>
                    <div id="following">#seguidos</div><br><br>
                </div>
                <h1>{user.date_created}</h1><br>
                <button class="initial_buttons" name="Log Out" type="button"> Cerrar Sesion </button>
            </div>
        </div>
	</div>
</Layout>

<script>

const button = document.querySelector('button');
    
button?.addEventListener('click', (e)=>{
    e.preventDefault();
    console.log('rstrst')
    document.cookie = document.cookie.replace(/session-token=[^ ]+/, '')
    console.log(document.cookie)
    window.location.href = '/login';
})
</script>
