---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>

  <div class="bg">

			<div class="home_container">

        <div class="bg-purple-500">

        </div>

        <div class="bg-green-500">

        </div>

        <div class="bg-amber-800">

        </div>

      </div>
		

	</div>
 
</Layout>
