---
import Layout from '../layouts/Layout.astro';
---

    <div class="bg-blue-800 flex flex-col items-center justify-center w-full h-full">
		
		<form method="post" class="w-[30%] bg-amber-500 flex flex-col gap-y-5">
			<h1>LOGIN</h1>
			<input class="bg-amber-50 border-2" type="text" placeholder="Nombre de usuario">
			<input class="bg-amber-50 border-2" type="password" placeholder="contrasenia">
			<button class="bg-amber-300" type="submit">Iniciar Sesion</button>


		</form>

	</div>
