---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>

    <div class="bg">
        <div class="profile_bg">
            <div class="text-center">
                <a href="/home">Menu Principal

                </a>

            </div>

            <div class="flex flex-row ml-6 mt-6">

                <div class="ml-16 w-[80px] h-[80px] bg-green-600 rounded-full">
                    <input class="w-[80px] h-[80px] opacity-0 bg-amber-600"  placeholder="" type="file" title=""></input>
                    a
                </div>

                <div class="flex flex-col ml-25">
                    <h1 id="placeholder_nick">Nick</h1>
                    <h1 id="placeholder_correo">Correo</h1>
                </div>

            </div>

            <div class="text-center bg-amber-400 m-4">
                <h1 class="">Areas de estudio</h1>
                <!--AQUI VA EL FOR QUE RETORNA UN DIV POR CADA AREA DE ESTUDIO QUE NECESITA -->
                <div>ss</div>
                <div>ddd</div>
                <div>ggg</div>
                <div>opop</div>
                <div>5156</div>
            </div>

        </div>
        <br>
        <button class="profile_changes" type="submit">Guardar Cambios</button>
    </div>






</Layout>