---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

const cookieAstro = Astro.cookies.get('session-token')
const myHeaders = new Headers();
if (cookieAstro) {
    myHeaders.append("Content-Type", "application/json");
    myHeaders.append("Cookie", 'session-token=' + cookieAstro.value)
}

const response = await fetch(new URL('http://localhost:8081/get-user'), {
    method: 'GET',
    credentials: 'include',
    headers: myHeaders,
});

const user = await response.json();
---

<Layout>

    <div class="bg">

        <div class="profile_bg">
            <div class="text-center">
                <a href="/home">Menu Principal

                </a>

            </div>

            <div class="flex flex-row ml-6 mt-6">

                <div class="ml-12 w-[80px] h-[80px] bg-green-600 rounded-full">
                    <input class="w-[80px] h-[80px] opacity-0 bg-amber-600"  placeholder="" type="file" title=""></input>
                </div>

                <div class="flex flex-col ml-15">
                    <h1 id="placeholder_nick">{"@" + user.Nick}</h1>
                    <h1 id="placeholder_correo">{user.Email}</h1>
                    <input class="student_commentary" type="text" placeholder="Comentario"></input>
                </div>

            </div>

            <div class="flex flex-row m-4 justify-evenly">

                <input class="student_inputs"  type="text"></input>
                <input class="student_inputs" type="text"></input>


            </div>

            <div class="text-center m-4">
                <h1 class="">Areas de estudio</h1>
                <!--AQUI VA EL FOR QUE RETORNA UN DIV POR CADA AREA DE ESTUDIO QUE NECESITA -->
                <div>ss</div>
                <div>ddd</div>
                <div>ggg</div>
                <div>opop</div>
                <div>5156</div>
            </div>

        </div>
        <br>
        <button class="profile_changes" type="submit">Guardar Cambios</button>
    </div>






</Layout>
