---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class='w-full'>
        <form class='flex flex-col items-center'>
            <input type="text" name="" value="">
        </form>
  </div>
</Layout>
