---
import Layout from '../layouts/Layout.astro';
const data = Astro.locals;
---

<Layout>
  <div class='w-full'>
        mecagoentodo
        <!-- <form class='flex flex-col items-center'> -->
        <!--     <input type="text" name="" value=""> -->
        <!-- </form> -->
  </div>
</Layout>
